@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&: is(.dark *));

:root {
  --beige-500: hsl(23, 6%, 57%);
  --beige-100: hsl(30, 36%, 96%);

  --grey-900: hsl(252, 7%, 13%);
  --grey-500: hsl(0, 0%, 41%);
  --grey-300: hsl(0, 0%, 70%);
  --grey-100: hsl(0, 0%, 95%);

  --green: hsl(177, 52%, 32%);
  --yellow: hsl(28, 73%, 81%);
  --cyan: hsl(190, 52%, 68%);
  --navy: hsl(248, 8%, 41%);
  --red: hsl(7, 58%, 50%);
  --purple: hsl(259, 30%, 56%);
  --pink: hsl(288, 29%, 62%);
  --turquoise: hsl(180, 16%, 42%);
  --brown: hsl(21, 30%, 44%);
  --magenta: hsl(332, 30%, 44%);
  --blue: hsl(205, 48%, 47%);
  --navy-grey: hsl(214, 11%, 63%);
  --army-green: hsl(83, 20%, 47%);
  --gold: hsl(47, 50%, 59%);
  --orange: hsl(18, 47%, 52%);
  --white: hsl(0, 0%, 100%);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gray-900: var(--gray-900);
  --color-grey-500: var(--gray-500);
  --color-grey-300: var(--gray-300);
  --color-grey-100: var(--gray-100);

  --color-beige-500: var(--beige-500);
  --color-beige-100: var(--beige-100);

  --color-grey-900: var(--grey-900);
  --color-grey-500: var(--grey-500);
  --color-grey-300: var(--grey-300);
  --color-grey-100: var(--grey-100);

  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --color-cyan: var(--cyan);
  --color-navy: var(--navy);
  --color-red: var(--red);
  --color-purple: var(--purple);
  --color-pink: var(--pink);
  --color-turquoise: var(--turquoise);
  --color-brown: var(--brown);
  --color-magenta: var(--magenta);
  --color-blue: var(--blue);
  --color-navy-grey: var(--navy-grey);
  --color-army-green: var(--army-green);
  --color-gold: var(--gold);
  --color-orange: var(--orange);
  --color-white: var(--white);

  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-250: 20px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  --text-preset-1: 32px;
  --text-preset-1--line-height: 120%;
  --text-preset-1--letter-spacing: 0px;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 20px;
  --text-preset-2--line-height: 120%;
  --text-preset-2--letter-spacing: 0px;
  --text-preset-2--font-weight: 700;

  --text-preset-3: 16px;
  --text-preset-3--line-height: 150%;
  --text-preset-3--letter-spacing: 0px;
  --text-preset-3--font-weight: 700;

  --text-preset-4: 14px;
  --text-preset-4--line-height: 150%;
  --text-preset-4--letter-spacing: 0px;
  --text-preset-4--font-weight: 400;

  --text-preset-4-bold: 14px;
  --text-preset-4-bold--line-height: 150%;
  --text-preset-4-bold--letter-spacing: 0px;
  --text-preset-4-bold--font-weight: 700;

  --text-preset-5: 12px;
  --text-preset-5--line-height: 150%;
  --text-preset-5--letter-spacing: 0px;
  --text-preset-5--font-weight: 400;

  --text-preset-5-bold: 12px;
  --text-preset-5-bold--line-height: 150%;
  --text-preset-5-bold--letter-spacing: 0px;
  --text-preset-5-bold--font-weight: 700;
}

:root {
  --background: var(--white);
  --foreground: var(--grey-900);
}

html {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: var(--font-public-sans);
}
